* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:-moz-linear-gradient(0deg, #df6b75, #eba75e);
    background: -webkit-linear-gradient(0deg, #df6b75, #eba75e);
    background: -o-linear-gradient(0deg, #df6b75, #eba75e);
    background-color: #df6d74;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 100px auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 75px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

label {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1rem;
}
input {
    border-radius: 20px;
    border:none;
    background: -moz-linear-gradient(0deg, #e0e0e0, #fff);
    background: -webkit-linear-gradient(0deg, #e0e0e0, #fff);
    background: -o-linear-gradient(0deg, #e0e0e0, #fff);
    background-color: #e0e0e0;
    line-height: 2rem;
    color: #6b6b6b;
    padding-left: 10px;
    font-size: 1rem;
}

input:last-of-type {
    margin-bottom: 25px;
}

button {
    height: 3rem;
    width: 10rem;
    margin: 0 auto;
    font-size: 2rem;
    color: #fff;
    background: -moz-linear-gradient(0deg, #5b94f6, #5ceaac);
    border-radius: 35px;
    border: none;
}

